body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("Screenshot 2024-10-26 234109.png");
    background-size: cover;
    background-repeat:none ;
}

.container {
    background: transparent;
    border:2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
    color: #fff;
    width: 400px;
    transition: transform 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container:hover {
    transform: translateY(-5px);
}
.link{
    color: grey;
}

h1 {
    text-align: center;
    color: #fff;
}

p {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #d1d1d1,
                inset -5px -5px 10px #ffffff;
    margin-bottom: 15px;
    font-size: 16px;
    background: transparent;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:grey;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
                
}

button:hover {
    background-color:gold;
    transform: translateY(-2px);
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1.4rem;
} 
}   

